<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Project</title>
    <style>
        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
        }
        /* Style the label to display next to the inputs */
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        /* Style the submit button */
        
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }
        /* Style the container */
        
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        /* Floating column for labels: 25% width */
        
        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }
        /* Floating column for inputs: 75% width */
        
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        
        @media screen and (max-width: 600px) {
            .col-25,
            .col-75,
            input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }
    </style>
</head>

<body>
    <%- include('./header.ejs') %>
        <div class="container">
            <form id="project-form">
                <div class="row">
                    <div class="col-25">
                        <label for="courseName">Course Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="courseName" name="firstname" placeholder="Course name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="fieldOfStudy">Field Of Study</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fieldOfStudy" name="lastname" placeholder="Field of study for course..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="price">Price (Toman)</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="price" name="price" placeholder="price offered by you..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-75">
                        <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

        <script>
            const projectForm = document.getElementById('project-form')
            projectForm.addEventListener('submit', createProject)

            async function createProject(event) {
                console.log("hahhahahahah");
                event.preventDefault();
                const courseName = document.getElementById('courseName').value;
                const fieldOfStudy = document.getElementById('fieldOfStudy').value;
                const description = document.getElementById('description').value;
                const price = document.getElementById('price').value;

                const result = await fetch('/project/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        courseName,
                        fieldOfStudy,
                        description,
                        price,
                        token: localStorage.getItem('token')
                    })
                }).then((res) => res.json())

                if (result.status === 'ok') {
                    alert('Project Has Been Placed Successfully')
                } else {
                    alert('Sth went Wrong')
                }
                history.back();
            }
        </script>
</body>

</html>