<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
        
        .main-container {
            padding: 30px;
        }
        /* HEADING */
        
        .heading {
            text-align: center;
        }
        
        .heading__title {
            font-weight: 600;
        }
        
        .heading__credits {
            margin: 10px 0px;
            color: #888888;
            font-size: 25px;
            transition: all 0.5s;
        }
        
        .heading__link {
            text-decoration: none;
        }
        
        .heading__credits .heading__link {
            color: inherit;
        }
        /* CARDS */
        
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .card {
            margin: 20px;
            padding: 20px;
            width: 500px;
            min-height: 200px;
            grid-template-rows: 20px 50px 1fr 50px;
            border-radius: 10px;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
            transition: all 0.2s;
            background: radial-gradient(#1fe4f5, #3fbafe);
        }
        
        .card:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            transform: scale(1.01);
        }
        
        .card__link,
        .card__exit,
        .card__icon {
            position: relative;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9);
        }
        
        .card__link::after {
            position: absolute;
            top: 25px;
            left: 0;
            content: "";
            width: 0%;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.6);
            transition: all 0.5s;
        }
        
        .card__link:hover::after {
            width: 100%;
        }
        
        .card__exit {
            grid-row: 1/2;
            justify-self: end;
        }
        
        .card__icon {
            grid-row: 2/3;
            font-size: 30px;
        }
        
        .card__title {
            font-weight: 400;
            color: #ffffff;
        }
        
        .card__apply {
            grid-row: 4/5;
            align-self: center;
        }
        /* RESPONSIVE */
        
        @media (max-width: 1600px) {
            .cards {
                justify-content: center;
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>


<body>
    <%- include('./header.ejs') %>
        <div class="main-container">
            <div class="heading">
                <h1 class="heading__title">Projects Available</h1>
                <div class="cards" id="cards">
                </div>
            </div>
            <script type="text/javascript">
                let name, lastName, username;
                const data = <%- JSON.stringify(allAvailableProjects) %>
                console.log(data);
                const cards = document.getElementById('cards')
                data.forEach(async(element) => {
                    const user = await fetch(`/user/${element.creator}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    }).then((res) => res.json())
                    cards.innerHTML += `

                <div class="card">
                        <h2 class="card__title"><p style="color : black">Requestor :</p> ${user.name + " " +user.familyName}</h2>
                        <h2 class="card__title"><p style="color : black">Course Name :</p> ${element.courseName}</h2>
                        <h2 class="card__title"><p style="color : black">Filed Of Study :</p> ${element.fieldOfStudy}</h2>
                        <h2 class="card__title"><p style="color : black">Price(Toman) :</p> ${element.price}</h2>
                        <h2 class="card__title"><p style="color : black">Description :</p> ${element.description}</h2>
                        <br>
                        <br>
                        <p class="card__apply">
                            <a class="card__link" target="_blank" href="https:www.t.me/${user.username}">Apply Now <i class="fa fa-arrow-right"></i></a>
                        </p>
                    </div>
                `
                });
            </script>
</body>

</html>